<div class='edit-list'>
<h2 class='user-edit'>ユーザー情報編集 </h2>

<div class='edit-content'>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <ul>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'box3' %>
  </ul>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <ul>
    <%= f.label :password%> <i>(変更しない場合は空欄)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'box3' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </ul>

  <ul>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'box3' %>
  </ul>

  <ul>
    <%= f.label :current_password %><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'box3' %>
  </ul>

  <ul>
    <%= f.submit "適用", class: "update" %>
  </ul>
<% end %>

 <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当に削除しますか?" }, method: :delete, class: "account-delete" %>
</div>
</div>

