  <div class='edit-list'>
    <h3 class='edit-form'>編集する</h3>
    <%= form_with(model: @tweet, local: true) do |form| %>
    <div class='edit-content'>
      <ul>
      <%= form.text_field :name, placeholder: "本の題名", class: "box" %>
      </ul>
      <ul>
      <%= form.text_field :author, placeholder: "著者", class: "box" %>
      </ul>
      <ul>
      <%= form.collection_select :genre_id, Genre.all, :id, :name, {}, {class: "genre-select"} %>
      </ul>
      <ul>
      <%= form.text_area :impressions, placeholder: "感想", rows: "10", class: "box2" %>
      </ul>
      <%= form.submit "SEND", class: "send" %>
      </div>
    <% end %>
  </div>
