<div class='contents-row'>
<%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
 <div class='lists'>
  <% @tweets.each do |tweet| %>
  <div class='list'>
     <%= link_to tweet_path(tweet.id) do %>
     <% if tweet.image.present?%>
     <%= image_tag tweet.image, class: 'image3' %>
     <% else %>
     <%= image_tag 'cropbookGFVL4222.jpg', class: 'image3' %>
     <% end %>
      <p  class= 'tweet-name'>
      <%= tweet.name %>
       </p>
      <p class='like'>
    <% if user_signed_in? && current_user.id == tweet.user_id %>
    <% else %>
      <% if Like.find_by(user: current_user, tweet: tweet) %>
      <%= link_to '❤️', tweet_like_path(tweet.id,id:tweet), method: :delete, remote: true %>
      <% else %>
      <%= link_to '♡', tweet_likes_path(tweet.id,id:tweet), method: :post, remote: true %>     
      <% end %>
     <% end %>
      </p>
    <% end %>
   </div>
  <% end %>
  </div>
</div>