<div class='edit-list'>
    <h2 class='edit-form'>Log in</h2>
    <div class='edit-content'>
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'box3' %>
      </div>

      <div>
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'box3' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class='remember'>
          <%= f.label :remember_me %><br />
          <%= f.check_box :remember_me%>
        </div>
      <% end -%>

      <div>
        <%= f.submit "ログイン", class: "send" %>
      </div>
    <% end %>
    </div>
</div>