<!DOCTYPE html>
<html>
  <head>
    <title>Booktweet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="heading">
        <h1><a href="/", class="title">Booktweet</a></h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
        <% if user_signed_in? %>
          <li>
          <%= link_to current_user.nickname, "/users/#{current_user.id}" %>
          </li>
          <li>
          <%= link_to "編集", edit_user_registration_path %>
          </li>
          <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
          <li>
          <%= link_to "投稿する", new_tweet_path %>
          </li>
          </ul>
          <% else %>
          <li>
          <%= link_to "ログイン", new_user_session_path %>
          </li>
          <li>
          <%= link_to "新規登録", new_user_registration_path %>
          </li>
        <% end %>
      </div>
    </header>
    <%= yield %>
       <footer>
      <p>
        Copyright Booktweet 2021.
      </p>
    </footer>
  </body>
</html>